*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: black;
    background-image: url("img/images.jfif");

}
li{
    list-style: none;
}
.container{
    display: grid;
    background-color: #dfdddd;
    height: 500px;
    width: 250px;
    padding: 15px 15px;
    border: 4px solid black;
    border-radius: 4%;
}
button{
    background-color: red;
}
.input-group{
    display: grid;
    justify-content: center;
    height: 30px;
    gap: 5px;
}
ul{
    border: 2px solid gray;

}
input{
    background-color: #dfdddd;
}